.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background: #444;
  box-shadow: 0 2px 15px 0 #00000040;
}

.close-sesion {
  text-decoration: none;
  color: #FFF;
  width: 20%;
  float: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.btn-close-sesion {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.btn-close-sesion:hover a{
  color: #26D07C !important;
  transition-delay: 0s;
}


.btn-close-sesion:hover path {
  fill: #26d07c !important;
  transition-delay: 0s;
}

.btn-close-sesion span {
  margin-left: 0.5rem;
  font-size: 16px;
  font-family: "Montserrat";
  color: #595b62;
}

.span-close {
  padding-top: 1px;
  padding-bottom: 1px;
}
